*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 900px;
  height: 350px;
  background-color: #FEA47F;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box__text {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: sans-serif;
}
.box__inner {
  width: 700px;
  height: 200px;
  background-color: #fff;
  border-radius: 8px;
  padding: 50px 60px;
}
.box__input {
  width: 100%;
  background: #7F8B8C;
}

